<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsman.myapp.mapper.MemberMapper">
	<insert id="MemberJoin" parameterType="com.kingsman.myapp.model.Member">
		insert into dong values(1,1)
	</insert>
	<select id="ProductList" resultType="com.kingsman.myapp.model.Product"> 
		SELECT * FROM B_PRODUCT
	</select>
	<select id="SearchUsers" parameterType="java.util.Map" resultType="com.kingsman.myapp.model.User">
	  SELECT * FROM B_USER
	  <where>
	    <if test="name != null">
	      AND NAME LIKE CONCAT('%', #{name}, '%')
	    </if>
	    <if test="position != null">
	      AND POSITION LIKE CONCAT('%', #{position}, '%')
	    </if>
	    <if test="deps != null">
	      AND DEPS LIKE CONCAT('%', #{deps}, '%')
	    </if>
	  </where>
	</select>

	






</mapper>